body {
    background-color: aliceblue;
}



.techTitle {
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    padding: 15px;
    margin: auto;
}

#projectsPage {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px;
    margin: auto;  
    background-color: bisque;
    border: 1px slateblue dashed;
    text-align: center;
}

.content {
    padding: 0;
    margin: auto;
    text-align: center;
}