#bioContainer {
  display: flex;
  // margin-top: -600px;
}

#header-bio {
  z-index: -10;
  margin: auto;
  margin-left: 500px;
  margin-top: -650px;
}

#bioPage {
  display: flex;
  font-size: 14px;
  max-height: 60%;
  text-align: justify;
  border: 1px double black;
  border-radius: 25px;
  padding: 2%;
  margin: 4%;
  margin-right: 15%;
  z-index: 1;
  margin-top: -500px;
}

.bio-scroll, .outer-container {
  height: 350px;
  width: 600px;
  border-radius: 10px;
 }                         

 .outer-container {
  object-fit: contain;
  position: relative;
  overflow: hidden;
 }

 .inner-container {
  position: absolute;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
 }

 .inner-container::-webkit-scrollbar {
  display: none;
 }


// .section1 {
//   // margin-top: -750px;
// }

#headshotPhoto {
  height: 60%;
  margin-left: -53%;
  margin-top: -500px;
}

$lightgray: #eeeeee;
$gray: #e0e0e0;
$anothergray: #bdbdbd;
$list: $lightgray, $gray, $anothergray;

@mixin gradient($direction, $list) { 
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);  
}

.inner-container {
  @include gradient(top, $list);
  opacity: .8;
}
