//ABOUT ME

#bioContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#bioPage {
  display: flex;
  font-size: 14px;
  max-height: 60%;
  text-align: justify;
  border: 1px double black;
  border-radius: 25px;
  padding: 2%;
  margin: 5%;
  margin-right: 15%;
}

.bio-scroll, .outer-container {
  height: 350px;
  width: 600px;
  border-radius: 10px;
 }                         

 .outer-container {
  object-fit: contain;
  position: relative;
  overflow: hidden;
 }

 .inner-container {
  position: absolute;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
 }

 .inner-container::-webkit-scrollbar {
  display: none;
 }


.section1 {
  margin-top: -600px;
}

#headshotPhoto {
  height: 60%;
  margin-left: 10%;
  margin-top: 5%;
}

$lightgray: #eeeeee;
$gray: #e0e0e0;
$anothergray: #bdbdbd;
$list: $lightgray, $gray, $anothergray;

@mixin gradient($direction, $list) { 
  background: -webkit-linear-gradient($direction, $list);
  background: -moz-linear-gradient($direction, $list);
  background: -o-linear-gradient($direction, $list);
  background: linear-gradient($direction, $list);  
}

.container {
  @include gradient(top, $list);
  opacity: .8;
}
