@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');

#contactPage {
  margin-top: -700px;
}

#was-here {
  margin-top: 100px;
}

.gitHub {
  margin-top: -70px;
  margin-left: 650px;
  font-size: 50px;
  font-family: 'Allerta Stencil', sans-serif;
}

.linkedIn {
  margin-top: -60px;
  margin-left: 650px;
  font-size: 50px;
  font-family: 'Allerta Stencil', sans-serif;
}

.contact-info {
  transform: rotate(-10deg);
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(-10deg);
}

a {
  color: rgb(77, 76, 76);
}

a:hover {
  color: #607d8b;
}