@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
html {
    min-height: 100%;
    overflow: hidden;
} 

#banner {
	background-image: url(../images/HenHen.jpg);
	background-image: fill;
	overflow: hidden;
}

#nameAnimation {
	height: calc(115vh - 3em);
	color: white;
	font-size: 25px;
	font-family: 'EB Garamond', serif;
	text-shadow: 5px 1px 1px rgb(59, 59, 59);
}

.line-1 {
	position: relative;
	top: 40%;
	width: 9em;
	margin: 0 auto;
	font-size: 400%;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%);
}

.animationTypeWriter {
	animation: typewriter 6s steps(44) 1s 1 normal both;
}
@keyframes typewriter {
	from{width: 0;}
	to{width: 10em;}
}

.navigationBar > input, 
.navigationBar > a {
  position: fixed;
  bottom: 0px;
  width: 30%;
  cursor: pointer;
  font-size: 16px;
  height: 34px;
  line-height: 34px;
}

.navigationBar > input {
  opacity: 0;
}

.navigationBar > a {
  z-index: 10;
  font-weight: 600;
  background: #607d8b;
  color: fff;
  text-align: center;
}

#navHome, #homePanel + a {
  left: 0;
}

#navBio, #bioPanel + a {
left: 25%;
}

#navTech, #techPanel + a {
  left: 50%;
}

#navProject, #projectPanel + a {
  left: 70%;
}


.whole > input:checked + a:after,
.whole > input:checked:hover + a:after {
	bottom: 100%;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}


#navProject:after, #navProject:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#navTech:after, #navTech:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#navBio:after, #navBio:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#navHome:after, #navHome:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#navHome:hover:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 30px;
	margin-left: -30px;
}

#navBio:hover:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 30px;
	margin-left: -30px;
}

#navProject:hover:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 30px;
	margin-left: -30px;
}

#navTech:hover:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 30px;
	margin-left: -30px;
}

.whole, 
.section1 {
	position: relative;
	width: 100%;
	height: 100%;
}

.whole,
.section0, .section1, .section2, .section3 {
	position: relative;
	width: 100%;
	height: 100%;
}

.whole {
	top: 0;
	left: 0;
	transition: all 0.6s ease-in-out;
}

.email-info {
	z-index: 1;
	margin-top: -135px;
	margin-left: 240px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 25px;
	text-shadow: 0px 1px 1px 1px rgb(59, 59, 59);
	color: #94af92;
}

.linkedin-info {
	z-index: 1;
	margin-top: -38px;
	margin-left: 710px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 25px;
	text-shadow: 0px 1px 1px 1px rgb(59, 59, 59);
}

.github-info {
	z-index: 1;
	margin-top: -37px;
	margin-left: 1195px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	font-size: 25px;
	text-shadow: 2px 1px 2px 1px rgb(59, 59, 59);
}

a {
	color: #94af92;
}

a:hover {
	color: beige;
}

#contact-picture {
	margin-left: 8%;
	margin-top: -8%;
} 