#projectsPage {
    margin-top: -720px;
    // padding: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    overflow: scroll;
}

#header-project {
    margin-left: 900px;
    margin-top: -600px;
}

// .container-cards {
//     display: inline-block;
//     flex-wrap: wrap;
//     justify-content: center;
//     max-width: 20%;
//     margin: 5%;
//     border: black 1px dashed; 
// }

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 20%;
    margin: 5%;
    border: 1px solid darkgrey;
    background-color: white;
    padding: 15px 15px 20px 15px;
    box-shadow: 5px 10px 10px darkgrey;
  }

#cards, #cards p {
    text-align: center;
    font-size: 14px;
    // margin: 5%;
}

#cards img {
    background-color: #607d8b;
    padding: 10px;
}

.screenshot {
    width: 210px;
    height: 200px;
}