#projectsPage {
    margin-top: -750px; 
    padding: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-cards {
    // margin: auto;
    // max-width: 20%;
    display: inline-table;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 25.3%;
    margin: 1%;
    padding: auto;
}

#cards, #cards p {
    text-align: center;
    font-size: 12px;
}

#cards img {
    background-color: lavenderblush;
    padding: 10px;
}

.screenshot {
    width: 210px;
    height: 200px;
    // height: 40%;
}