body {
  overflow: hidden;
}


#nameNav {
  @import url('https://fonts.googleapis.com/css?family=Amatic+SC');
  color: black;
  font-size: 36px;
  font-family: 'Amatic SC', cursive;
  a {
      color: inherit;
  }
  li {
      color: inherit;
  }
}

#nameNav > input,
#nameNav > a {
	position: fixed;
	bottom: 0px;
	width: 20%;
	font-size: 16px;
	height: 34px;
	line-height: 34px;
}

#nameNav {
  width: 100%;
  height: 70px;
  background: rgb(230, 248, 230);
  z-index: 9;
  bottom: 0;
}

#navHome {

}
