#technologiesPage {
  margin-top: -600px;
}

// #header-tech {

// }

#htmlPhoto, #cssPhoto, #githubPhoto, #jsPhoto, #jqPhoto, #scssPhoto, #vsPhoto {
  position: relative;
}

.icon-container .polaroid {
  position: absolute;
  border: 1px solid darkgrey;
  background-color: white;
  padding: 15px 15px 20px 15px;
  box-shadow: 5px 10px 10px darkgrey;
}

.icon-container .html-icon {
  z-index: 2 ;
  left: 240px;
  top: 100px;
  transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
}

.icon-container .css-icon {
  z-index: 1;
  left: 50px;
  top: 10px;
  transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
}

.icon-container .javascript-icon {
  z-index: 1;
  left: 430px;
  top: 150px;
  transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(12deg);
}

.icon-container .github-icon {
  z-index: 2;
  left: 605px;
  top: 210px;
  transform: rotate(-5deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
}

.icon-container .jquery-icon {
  z-index: 2;
  left: 640px;
  top: 380px;
  transform: rotate(-15deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(18deg);
}

.icon-container .scss-icon {
  z-index: 3;
  left: 760px;
  top: 300px;
  transform: rotate(30deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(6deg);
}

.icon-container .bootstrap-icon {
  z-index: 1;
  left: 830px;
  top: 170px;
  transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(-2deg);
}

.icon-container .gitbash-icon {
  z-index: 2;
  left: 970px;
  top: 90px;
  transform: rotate(5deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(15deg);
}

.icon-container .visualStudio-icon {
  z-index: 2;
  left: 1100px;
  top: 60px;
  transform: rotate(5deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(-10deg);
}

.icon-container .react-icon {
  z-index: 2;
  left: 1200px;
  top: 10px;
  transform: rotate(5deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(35deg);
}

.plant-image {
  position: absolute;
  z-index: 2;
  max-width: 10%;
  max-height: 10%;
  left: 100px;
  top: 240px;
  transform: rotate(5deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(35deg);
}

.plant-image2 {
  position: absolute;
  z-index: 1;
  left: -55px;
  top: 105px;
  transform: rotate(5deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(35deg);
}

.plant-image3 {
  position: absolute;
  left: 1300px;
  top: -50px;
  transform: rotate(5deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(35deg);
}

.plant-image4 {
  position: absolute;
  left: 600px;
  top: 120px;
  transform: rotate(5deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(35deg);
}

.plant-image5 {
  position: absolute;
  left: 1600px;
  top: 10px;
  transform: rotate(5deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(35deg);
}

.plant-image6 {
  position: absolute;
  z-index: 1;
  left: 310px;
  top: -30px;
  transform: rotate(5deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(-35deg);
}

.plant-image7 {
  position: absolute;
  z-index: 2;
  left: 500px;
  top: 290px;
  transform: rotate(5deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(35deg);
}

.plant-image8 {
  position: absolute;
  left: 1300px;
  top: 10px;
  transform: rotate(5deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(35deg);
}

.plant-image9 {
  position: absolute;
  z-index: 1;
  left: 340px;
  top: -30px;
  transform: rotate(5deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(-35deg);
}

.plant-image10 {
  position: absolute;
  z-index: 2;
  left: 1400px;
  top: 290px;
  transform: rotate(5deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(35deg);
}

.plant-image11 {
  position: absolute;
  left: 1300px;
  top: 10px;
  transform: rotate(5deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(35deg);
}