@import "~bootstrap/scss/bootstrap";

body {
    background-image: url(images/Succulents.jpg);
    background-size: cover;
}

//NAVIGATION BAR
#navLinks {
    max-width: 100%;
}

#nameNav {
    color: black;
}

//ABOUT ME
#bioPage {
    font-size: 14px;
    margin-left: 15%;   
    margin-top: 5%;
    padding: 10px;
    max-width: 70%;
    text-align: justify;
    text-emphasis: bolder;
    border: 1px double black;
    border-radius: 25px;
}

$lightgray: #eeeeee;
$gray: #e0e0e0;
$anothergray: #bdbdbd;
$list: $lightgray, $gray, $anothergray;

@mixin gradient($direction, $list) { 
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);  
  }

.container {
    @include gradient(top, $list);
    opacity: .8;
}

//TECHNOLOGIES
.techTitle {
    text-align: center;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 30px;
    margin: auto;
    align-content: center;
}

//PROJECTS
#projectsPage {
    // display: flex;  
    // display: table;
    // flex-wrap: wrap;
    // justify-content: space-between;
    padding: 50px;
    margin: 50px;
    margin-left: 10%;
    // background-color: bisque;
    // border: 1px slateblue dashed;
    // text-align: center;
}

//PROJECT CARDS
#cards {
    text-align: center;
    display: table-cell;
    padding: 1%;
}

#cards p {
    padding: auto;
    margin: auto;
    text-align: center;
    font-size: 12px;
}

#cards img {
    background-color: lavenderblush;
    padding: 10px;
}
