@import "~bootstrap/scss/bootstrap";

//NAVIGATION BAR
// #navLinks {
//     max-width: 100%;
// }

//NAME ANIMATION
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
html {
    min-height: 100%;
    overflow: hidden;
}

#banner {
    background-image: url(images/Succ.png);
    // background-repeat: no-repeat;
    background-image: center;
    overflow: hidden;
}

#nameAnimation {
    height: calc(120vh - 4em);
    color: white;
    font-size: 20px;
    font-family: 'Fredericka the Great', cursive;
    text-shadow: 5px 1px 1px rgb(59, 59, 59);
}

.line-1 {
    position: relative;
    top: 40%;
    width: 10em;
    margin: 0 auto;
    font-size: 400%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.animationTypeWriter {
    animation: typewriter 6s steps(44) 1s 1 normal both;
}
@keyframes typewriter {
    from{width: 0;}
    to{width: 20em;}
}

//ABOUT ME
#bioPage {
    font-size: 14px;
    max-width: 40%;
    text-align: justify;
    text-emphasis: bolder;
    border: 1px double black;
    border-radius: 25px;
}

#bioContainer {
    display: flex;
    flex-direction: row;
}

#coopiePhoto {
    border-radius: 50%;
    height: 50%;
    width: 30%;
    margin: 10%;
    margin-top: 5%;
}

$lightgray: #eeeeee;
$gray: #e0e0e0;
$anothergray: #bdbdbd;
$list: $lightgray, $gray, $anothergray;

@mixin gradient($direction, $list) { 
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);  
  }

.container {
    @include gradient(top, $list);
    opacity: .8;
}

// TECHNOLOGIES
// .techTitle {
//     text-align: center;
//     padding: 15px;
//     margin: auto;
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//     padding: 50px;
//     margin: auto;
//     align-content: right;
// }


PROJECT CARDS
#projectsPage {
    display: flex;
    flex-direction: row;
    max-width: 30%;
}

#cards, #cards p {
    align-content: center;
    padding: auto;
    margin: auto;
    text-align: center;
    font-size: 12px;
}

#cards img {
    background-color: lavenderblush;
    padding: 10px;
}
